<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Inicio </title>
</head>
<body>
    <header>
        <H1>MI PERFIL</H1>
    </header>
    <div>
    <img src="../images/mi_foto.jpg" style="width: 300px;" alt="">
    </div>
   

    <strong> Sobre mi </strong>
    <br>

    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quod architecto dicta, molestias assumenda dolorem aut nulla perspiciatis ut ipsum corrupti velit alias provident, quam excepturi, tempore temporibus sapiente rerum?
    Culpa omnis eius voluptate ipsum tempora impedit nulla, harum dolorum libero, facere distinctio? Voluptas dolorem numquam excepturi nesciunt consequatur mollitia accusantium unde, sed quia blanditiis quibusdam nostrum fugit illum eligendi.
    Atque possimus magni consectetur voluptatem officia? Laudantium doloribus totam delectus fuga similique atque iusto asperiores corrupti voluptatum deleniti sequi, earum et. Unde, fugit reiciendis quam harum mollitia placeat assumenda? Nam!
    Unde provident neque ducimus, laborum molestias saepe ratione tempora fuga odio cum ipsum, libero sunt consequatur voluptatum ullam quis ut excepturi iste dolore. Perspiciatis repudiandae asperiores, voluptatibus enim itaque quis?
    Sunt ratione doloribus perferendis et. Nam maiores pariatur at exercitationem fugit temporibus ad voluptatem cupiditate distinctio repellendus, laborum aut, nobis dignissimos. Ut odio sequi nobis facilis eaque quos, magni mollitia?
    Aperiam, amet ut perferendis similique quos officia provident repellat consequuntur, distinctio beatae fugit. Minima, assumenda cum, voluptatibus, ab deserunt atque tempore harum nam iusto repellat nihil temporibus cupiditate voluptatum. Quasi.</p>

    <div style="display: flex; flex-direction: column; align-items: center;">
        <nav>
            <button> <a href="./profile.html"> Profile</a></button>
            <button><a href="./tags.html">Tags</a></button>
            <button><a href="./index.html">Index</a></button>

        </nav>
    </div>
    
</body>
</html>